<%- include('partials/header'); -%>
<h1>Latest Updates</h1>
<% for(var i = post.length-1 ; i>=0 ; i--){ %>
     <div class="card bg-light mb-3  card text-left" style="max-width: 100%;">
       <div class="card-header" style="background-color: #222425!important; color:white" ><h1 ><%= post[i].title %></h1></div>
       <div  id="postimagecontainer"><img class="post-image" style="border:2px solid black" src="<%=post[i].image%>"></div>
       <div class="card-body">
         <p class="card text-left" style="width: 30rem; color: black;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
           <%= post[i].content.substring(0,150)+"..." %><a class="readmore" href="/posts/<%=post[i]._id%>">Read more</a>
         </p>
       </div>
      </div>
        
    
  <% } %>
<footer>
     <div id="footermn">
            <p id="copyrighttxt">© ashu-2021</p>
     </div>
   </footer>
   </body>
   </html>