<%- include('partials/header'); -%>
<h1 style="margin-left: 2vw;"><%=title%></h1>        
<img  style="margin-left:2vw;border:2px solid black"src="<%=image%>" alt="Card image cap">
<p style="margin-left:2vw;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><%=content%></p>
<%- include('partials/footer'); -%>